/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Raleway;
}

h1, h2, h3, h4, h5 {
    font-family: Raleway;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 876px;
	height: 1000px;
	margin: 0 auto;
}

header {
	height: 40px;
	padding: 0;
	overflow: hidden;
    background: #3f51b5;
    position: fixed; 
	top: 0; 
	margin-bottom: 40px;
	
}

.nav, .logo {
	display: inline-block;
	height: 30px;
	margin: 0;
	padding: 0;
	vertical-align: middle;

}

nav>a {
	color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav a:before, nav a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

nav {
	width: 746px;
	height: 100%;
	vertical-align: middle;
	

}

header>img {
	max-width: 100px;
	max-height: 30px;
	padding-left: 400px;
}


.get-started {
	height: 300px;
	width: inherit;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid black;
	margin-bottom: 40px;
	margin-top: 40px;
}
.get-started>section, .get-started>img {
	display: inline-block;
	height: 100%;
	width: 400px;
	
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	padding: 40px;

}

.get-started>section {
	padding: 20px;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 40px;
}

.get-started>section>h1 {
	height: 100px;
	font-size: 3em;
	margin-bottom: 80px;
}

#get-started-code {
	max-width:300px;
	max-height: 300px;
	margin-left: 80px;
}

.get-started>section>a {
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	padding: 5px 30px;
}

.middle-img {
	margin-bottom: 40px;
}
section {
	display: inline-block;
	margin-bottom: 40px;
}

#features, #about {
	display: inline-block;
	width: 48%;
	height: 10%;
}

#about {
	margin-left: 30px;
}

#services, #product, #vision {
	display: inline-block;
	width: 33%;
	height: 10%;
}

.main {
	border-bottom: 1px solid black;
	margin-bottom: 40px;
}

footer>p {
	text-align: center;
}

nav a:before, nav a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

nav a:before
{
    left: 0px;
    top: 0px;
}

nav a:after
{
    right: 0px;
    bottom: 0px;
}

nav a:hover:before, nav a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}